

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
//============== nesting in scss ====================

// #main{
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     section{
//         height: 50%;
//         width: 50%;
//         background-color: white;
//         display: flex;
//         align-items: center;
//         justify-content: center;

//         h1{
//             color: black;
//         }
//     }
// }


//============== mixins in scss ====================
// @mixin flex(){
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// #main{
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     @include flex;

//     section{
//         height: 50%;
//         width: 50%;
//         background-color: white;
//         @include flex;

//         h1{
//             color: black;
//         }
//     }
// }


//============== partials and importing in scss ====================
@import 'button';
.blue{
    @include button-styles(blue,white);
}
.red{
    @include button-styles(red,white);
}